* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #1a0b2e;
  color: white;
}

.hero-btn-1 {
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
}

.hero-btn-1:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

/* Header section styles */

.nav-container {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-menu ul a {
  font-size: 1rem;
  font-weight: 500;
}

/* Banner section design */

.hero-bannner {
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  /* max-height: 750px; */
  height: 750px;
}

.mic-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.mic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  height: 414px;
  width: 414px;
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  border-radius: 50%;
  border: 5px solid #2a186c;
}

.mic-img {
  width: 150px;
  height: 200px;
}

.badge-new {
  position: absolute;
  top: 0;
  right: 20%;
  left: auto;
  bottom: auto;
  background: #00ff88;
  color: #000;
  font-size: 0.625rem;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}

.banner-title {
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}

.banner-container {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
}

.btn-group {
  display: flex;
  gap: 15px;
  margin-top: 24px;
  justify-content: center;
}

.hero-btn-2 {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
}

.hero-btn-2:hover {
  filter: brightness(2);
  cursor: pointer;
}
