* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #1a0b2e;
  color: white;
}

.hero-btn-1 {
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
}

.hero-btn-1:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
}

.section-content {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}

/* Header section styles */

.nav-container {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-menu ul a {
  font-size: 1rem;
  font-weight: 500;
}

#hidden {
  display: none;
}

/* banner section styles */

.hero-banner {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 101px;
  padding-bottom: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mic-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic-container {
  height: 414px;
  width: 414px;
  border-radius: 50%;
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  border: 5px solid #2a186c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic-img {
  width: 150px;
  height: auto;
}

.badge-new {
  position: absolute;
  top: 3%;
  right: 10%;
  background: #00ff88;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}

.banner-title {
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}

.hero-content p {
  margin-top: 8px;
  font-size: 1rem;
}

.btn-group {
  margin-top: 28px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

#spotify-btn {
  padding: 12px 20px;
}

.hero-btn-2 {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hero-btn-2:hover {
  filter: brightness(1.5);
}

/* about section styles */

.about-container {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 120px;
}

.podcast-container > h1,
p {
  margin-bottom: 16px;
}

.about-container hr {
  color: rgba(65, 37, 103, 1);
  /* opacity: 10%; */
  margin-top: 80px;
  margin-bottom: 80px;
  width: 75%;
}

.about-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.card > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}

.card > p {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}

/* why choose section styles */

.why-choose-container {
  background: rgba(35, 14, 61, 1);
  padding: 120px 0;
}

.why-choose-container > h1 {
  margin-bottom: 40px;
  text-align: center;
}

.why-choose-container > div {
  margin: 0px auto;
}

.box-container .box {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  align-items: center;
  align-content: center;
}

.box img {
  margin-bottom: 16px;
}
.box h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.box p {
  color: #ffffff;
  opacity: 60%;
  font-size: 16px;
  line-height: 24px;
}

.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.global {
  grid-area: global;
}

.exclusive {
  grid-area: exclusive;
}

.rich {
  grid-area: rich;
}

.box-container {
  max-width: 1200px;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive rich";
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 16px 20px;
  }

  .nav-menu,
  #btn-1 {
    display: none;
  }

  #hidden {
    display: flex;
    width: 24px;
    height: 24px;
  }

  .hero-banner {
    width: 100%;
    padding-bottom: 40px;
  }

  .mic-container {
    width: 250px;
    height: 250px;
  }

  .mic-img {
    width: 80px;
  }

  .about-container {
    padding: 40px 20px;
  }

  .about-container hr {
    margin: 40px 0;
  }

  .about-card-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .why-choose-container {
    padding: 40px 0;
  }

  .why-choose-container > h1 {
    font-size: 29px;
  }

  .box-container {
    display: grid;
    gap: 30px;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "exclusive"
      "rich";

    padding: 0 20px;
  }
}
