* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #1a0b2e;
  color: white;
}

.hero-btn-1 {
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
}

.hero-btn-1:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

/* Header section styles */

.nav-container {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-menu ul a {
  font-size: 1rem;
  font-weight: 500;
}

#hidden {
  display: none;
}

/* banner section styles */

.hero-bannner {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 101px;
  padding-bottom: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mic-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic-container {
  height: 414px;
  width: 414px;
  border-radius: 50%;
  background: linear-gradient(45deg, #fbd449, #ff1c6a, #9b04db);
  border: 5px solid #2a186c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic-img {
  width: 150px;
  height: auto;
}

.badge-new {
  position: absolute;
  top: 3%;
  right: 10%;
  background: #00ff88;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}

.banner-title {
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}

.hero-content p {
  margin-top: 8px;
  font-size: 1rem;
}

.btn-group {
  margin-top: 28px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

#spotify-btn{
  padding: 12px 20px;
}

.hero-btn-2 {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hero-btn-2:hover {
  filter: brightness(1.5);
}











/* MOBILE RESPONSIVE */

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 16px 20px;
  }

  .nav-menu,
  #btn-1 {
    display: none;
  }

  #hidden {
    display: flex;
    width: 24px;
    height: 24px;
  }

  .hero-banner{
    width: 100%;
    padding-bottom: 40px;
  }

  .mic-container{
    width: 250px;
    height: 250px;
  }

  .mic-img {
  width: 80px;
}

}
